

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background: rgb(199, 197, 197);
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    padding: 20px;
}

.form-container{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 50lh;
    height: 80vh;
}

.form-container p{
    font-weight:normal;
    color: rgb(161, 162, 163);
}

.header{
    text-align: center;
}

.form-input{
    border: none;
}

.form-input :active{
    border: none;
}
.parent-div{
    display: flex;
}

.sub-div1{
    width: 50%;
    padding-right: 10%;
}
.sub-div2{
    width: 50%;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: green;
    color: white;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius:3px ;
    font-size: 18px;
    /* font-weight: bold; */
    cursor: pointer;

}